---
export interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<div class="faq-item">
  <button class="faq-question" aria-expanded="false">
    {question}
    <span class="faq-icon" aria-hidden="true">+</span>
  </button>
  <div class="faq-answer">
    <div class="faq-answer-inner" set:html={answer} />
  </div>
</div>
